<label>Select City/Station</label>
		<select class='form-control' id='select_city_station'>
			{% for station in station_details %}
				<option value="{{station.pk}}">{{station.country}}- {{station.city}}</option>
			{% endfor %}
		</select>