{% extends "base.html" %}
{% block content %}
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<style>
		#container {
			min-width: 310px;
			max-width: 800px;
			height: 400px;
			margin: 0 auto
		}
	</style>
	<div class='alert alert-success hidden'></div>
	<div class='alert alert-info'>
		<p>The application uses Wunderground API to fetch temperature and humidity.</p>
		<p><b>The data shown per day is mean of all the observation done in a day.</b></p>
		<p><b>As the application uses Wunderground open source API maximum 10 historical average temperature can be observed from the application</b></p>
	</div>
	<div class='col-md-4 city_staion_div'>
		{% include '_city_station_dropdown.html' %}
	</div>
	<div class='col-md-4'>
		<label>Select Parameter</label>
		<select class='form-control' id='select_temp_unit'>
			<option value="Temperature">Temperature</option>
			<option value="Humidity">Humidity</option>
		</select>
	</div>
	<div class='col-md-4'>
		<button class='btn btn-success add_station'>Add City/Station</button>
		<br/>
		<div class='hidden enter_station'>
			<label>Enter Country</lable>
			<input type='text' class='form-control country'>
			<label>Enter City</lable>
			<input type='text' class='form-control city'>
			<br>
			<button class='btn btn-primary submit_station'>Submit</button>
		</div>
	</div>
	<div class='col-md-12'></div>
	<div class='col-md-4'>
		<label>Select Start Date</label>
		<input type='text' name='start_date' id='start_date' placeholder='Enter Start Date' class='form-control'>
	</div>


	<div class='col-md-4'>
		<label>Select End Date</label>
		<input type='text' name='end_date' id='end_date' placeholder='Enter End Date' class='form-control'>
	</div>
	<p></p>
	<div class='col-md-12'>
		<button class='btn btn-primary search_weather'>Search Weather</button>
	</div>

	<p></p>
	<div>
		<div id="container"></div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script>
		$(document).ready(function(){
			$("#start_date").datepicker({
				format: "dd/MM/yyyy",
			});
		    $("#end_date").datepicker({
		    	format: "dd/MM/yyyy",
		    });
		})

		$(document).on('click', '.add_station', function(){
			$(".enter_station").toggleClass("hidden")
		})

		$(document).on('click', '.search_weather', function(){
			select_city_station = $("#select_city_station").val()
			select_temp_unit = $("#select_temp_unit").val()
			start_date = $("#start_date").val()
			end_date = $("#end_date").val()
			var url = "{% url 'search-weather' %}"
			$.ajax({
                url: url,
                type: "POST",
                data: {'select_city_station': select_city_station,
                	'select_temp_unit': select_temp_unit,
                	'start_date': start_date,
                	'end_date': end_date, 
                	csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(result){
                	result_data = JSON.parse(result)
                	date_list = []
                	temp_humid_list = []
                	$.each(result_data, function(date, temp_humid){
                		date_list.push(date)
                		temp_humid_list.push(parseFloat(temp_humid))
                	})
                   var msg = select_temp_unit +" of "+$("#select_city_station").find("option:selected").text()+" from "+ start_date +" to "+ end_date
                   	Highcharts.chart('container', {
					    title: {
					        text: msg
					    },

					    subtitle: {
					        text: 'Source: Wunderground.com'
					    },

					    yAxis: {
					        title: {
					            text: select_temp_unit
					        }
					    },

					    xAxis: {
					    categories: date_list
					},
					    legend: {
					        layout: 'vertical',
					        align: 'right',
					        verticalAlign: 'middle'
					    },

					    series: [{
					        name: select_temp_unit,
					        data: temp_humid_list
					    }]

					});
                }
            });
return false
		})

		$(document).on('click', '.submit_station', function(){
			var country = $(".country").val()
			var city = $(".city").val()
			var url = "{% url 'save-station' %}"
			$.ajax({
                url: url,
                type: "POST",
                data: {csrfmiddlewaretoken: '{{ csrf_token }}', 'country':  country, 'city': city},
                success: function(result){
                    $(".city_staion_div").html(result)
                    $(".enter_station").toggleClass("hidden")
                    $(".city").val("")
                    $(".country").val("")
                    $(".alert.alert-success").text("Station Added !!!!!")
                    $(".alert.alert-success").toggleClass("hidden")
                    setTimeout(function(){
                    	$(".alert.alert-success").toggleClass("hidden")
                    }, 5000);
                }
            });
		})
	</script>
{% endblock %}

